<div class="white-panel payments-module"
  *ngIf="dataList">
  <div class="top-bar flex-grid">
    <div class="lefts">
      <i class="icons icon-payments"></i>
      <span class="txt">
        {{heading}}
      </span>
    </div>
    <div class="rights">
      <a href="javascript:;" class="blue-link">View all</a>
    </div>
  </div>
  <ul class="list-payments">
    <li *ngFor="let item of dataList;let i = index">
      <div class="lefts">
        <div class="icons icon-pyaments-list"
          [class.right-top]="item.type === 'output'">
        </div>
        <div class="txt-area">
          <div class="color-block"
            [class.gray]="item.status === 'In Progress'"
            [class.red]="item.status === 'Canceled'"
            [class.green]="item.status === 'Completed'"
            [class.yellow]="item.status === 'Pending'">
            {{item.status}}
          </div>
          <div class="id-txt">
            {{item.transactionID}}
          </div>
        </div>
      </div>
      <div class="rights">
        <div class="price" title="{{item.amount}}">{{item.amount}}</div>
        <div class="color-txt red"
           [class.red]="item.priority === 'High'"
           [class.yellow]="item.priority === 'Medium'"
           [class.gray]="item.priority === 'Low'">
          {{item.priority}}
        </div>
      </div>
    </li>
  </ul>
</div>