<div class="white-panel" *ngIf="dataList">
  <div class="top-bar flex-grid">
    <div class="lefts">
      <i class="icons icon-recent"></i>
      <span class="txt">
        Recent Request
      </span>
    </div>
    <div class="rights">
      <a href="javascript:;" class="blue-link blue">View all</a>
    </div>
  </div>
  <ul class="list-recent">
    <li *ngFor="let item of dataList;let i = index">
      <app-entity-banner [mainText]="item.name" [subText]="item.time" [shortName]="item.shortName"
        [color]="item.shortName"></app-entity-banner>
      <!-- <div class="lefts flex">
        <div class="color-point"
          [style.background-color]="item.shortName">
          {{item.shortName}}
        </div>
        <div class="txt-area">
          <div class="names">{{item.name}}</div>
          <div class="time">
            {{item.time}}
          </div>
        </div>
      </div> -->
      <div class="rights">
        ${{item.price}}
      </div>
    </li>
  </ul>
</div>
<!--end .white-panel-->