

.bottom-txt {
    border-top: 1px solid #f0f0f0;
    text-align: center;
    color: #0e3570;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin-top: 20px;
    padding-top: 20px;
    span {
        cursor: pointer;
    }
}