@import '../../../styles/variables';
body {
    background-color: #f9f9f9;
}
.center {
    text-align: center;
}
.banner-img {
    width: 784px;
    padding-top: 75px;
    margin: 0 auto 74px;
    img {
        width: 803px;
        height: 451px;
    }
}
.top-area {
    padding-bottom: 68px;
}
.bg-gray {
    background-color: #f9f9f9; 
}
.text-area {
    max-width: 790px;
    margin: 0 auto;
}

.blue-title {
    color: #034ea2;
    font-family: "HelveticaNeue";
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -0.17px;
    line-height: 60px;
    margin-bottom: 18px;
}
.txt {
    color: #646363;
    font-family: "HelveticaNeue";
    font-size: 18px;
    line-height: 25px;
}

.two-pic-wrap {
    padding: 76px 15px;   
    background-color: #fff;
    .pic-flex {
        .imgs {
            margin: 0 10px;
            position: relative;
            width: 461px;
            height: 250px;
            .gray-cover {
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            }
            img {
                width: 100%;
                height: 100%;
            }
            .bottom-txt {
                position: absolute;
                left: 36px;
                bottom: 34px;
                z-index: 3;
                color: #ffffff;
                font-family: "HelveticaNeue";
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -0.14px;
                line-height: 24px;
            }
        }
    }
}
.max-w1000 {
    max-width: 960px;
    margin: 0 auto;
}
