@import '../../../styles/variables';

.line-txt {
    padding-left: 12px;
    position: relative;
    color: #646363;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    margin-bottom: 17px;
    margin-left: -6px;
    margin-right: -8px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: #ef3341;
        
    }
}

.btn-border {
    margin-left: -6px;
}
